:global(html) {
	--color-background: #1a1b1f;
	--color-font: #1a1b1f;
	
	--color-bright: #ffffff;
	
	--color-pink: #f83cac;
	--color-pink-pale: #FF8AD0;
	--color-teal: #7AFFBF;
	--color-teal-pale: #a3ffd3;
	--color-yellow: #FFED7A;
	--color-yellow-pale: #FFF29C;
	--color-blue: #61F3FF;
	--color-blue-pale: #A3F9FF;
	--color-purple: #CE6BFF;
	--color-purple-pale: #E0A3FF;
}
